.profileTitle{
    border-left: 5px solid var(--secondary-main);
    padding-left: 5px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.profileSubTitle{
    padding-left: 10px;
    font-size: 12px;
    font-style: italic;
}

.profileUser .profileInfor{
    margin-top: 20px;
    padding: 10px 0;
    position: relative;
}

.profileUser .profileInfor .btn-editProfile{
    border: unset;
    background-color: unset;
    font-size: 14px;
    position: absolute;
    top: -15px;
    right: 90px;
    color: black;
    font-weight: 300;
    transition: ease-in-out 200ms;
    border-right: 2px solid var(--secondary-main);
}
.profileUser .profileInfor .btn-editProfile i {
    margin: 0;
}
.profileUser .profileInfor .btn-editProfile:hover{
    color: var(--primary-main);
    transform: translateY(-2px);
}

.profileUser .profileInfor .inputItem{
    position: relative;
    margin-bottom: 10px;
}

.profileUser .profileInfor .inputItem .labelTitle{
    color: black;
    font-size: 14px;
    font-weight: 200;
}

.profileUser .profileInfor .inputItem .icon{
    position: absolute;
    top: 55%;
    left: 20px;
    border-right: 1px solid var(--gray-6);
}
