@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
                        /* Main color */
    /* primary color */
      --primary-main: #0C68F4;
      --primary-25 :  #E4EEFE;
      --primary-50 : #AECDFB;
      --primary-75 : #78ABF9;
      --primary-100 : #428AF6;
      --primary-200 : #2779F5;
      --primary-400 : #0951BE;
      --primary-500 : #063A88;
      --primary-600 : #052E6D;
      --primay-700: #042352;
      --primary-900 : #021736;
      /* Secondary color */
      --secondary-main : #F45E0C;
      --secondary-100 : #FDDBC9; 
      --secondary-200 : #FAB793;
      --secondary-300 : #F68242;
      --secondary-400 : #F45E0C;
      --secondary-500 : #BE4909;
      --secondary-600 : #883406;

                     /* Neutral colors */
      --black : #0C0C0C;
      --white : #FFFFFF;
      --gray-1 : #F9F9F9;
      --gray-2 : #F6F6F6;
      --gray-3 : #EDEDED;
      --gray-4 : #CBCBCB;
      --gray-5 : #B4B4B4;
      --gray-6 : #9E9E9E;
      --gray-7 : #717171;
      --gray-8 : #505050;
      --gray-9 : #444444;
      --gray-10 : #2D2D2D;

                      /* Status colors */
      --error : #C91433;
      --error-light: #FAE7EB;
      --succes : #198754;
      --succes-light : #D1F7E5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'inter'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
